.header{

    text-align: center;
    background-color: darkgrey;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;


}
.pages{



}
ul{
    width:100px;
    list-style: none;

}
a:hover{
    color: darkslategrey;
    text-decoration: none;

}
li{
    display: inline-block;
}
li a{

    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #ccc;
}